{% extends "appointments/layout.html "%}

{% block body%}
    <h2>Booked appointments</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <ul>
    {% for item in list%}
    {% if item.Active%}
    <li class="list-group-item" >Patient Name :{{ item.Name}}  Doctor: {{item.Doctor}} Time :{{item.timestamp}} Date :{{item.Date}} <a class="nav-link scrollto" href= "{% url 'cancel' item.id%}" >Cancel </a></li>
    {%endif%}
    {% endfor %}
    </ul>
    <a href="{%url 'book'%}" class="nav-link scrollto"> Book another appointment </a>
{%endblock%}